footer p {
	text-align: center;
}

ul {
	list-style-type: none;
}

li {
	border: 1px solid black;
}

.left {
	text-align: left;
	display: inline-block;
	width: 45%;
}

.right {
	text-align: right;
	display: inline-block;
	width: 54%;
}

header h1 {
	padding-left: 500px;
}

.logoutField {
	display: inline-block;
	text-align: right;
	padding-left: 300px;
}